{% extends 'base.html' %}
{% block content %}
  <div class="ui container">
    <table class="ui striped table">
      <thead>
        <tr>
          <th>
            Station name
          </th>
          <th>
            Address
          </th>
          <th>
            # bikes available
          </th>
          <th>
            # free docks
          </th>
        </tr>
      </thead>
      {% for station in station_status %}
      <tr>
        <td>
          <a href="https://maps.google.com?q={{ station.latitude }},{{ station.longitude }}" target="_blank" rel="noopener">{{ station.name }}</a>
        </td>
        <td>
          {{ station.address }}
        </td>
        {% if station.bikes_available > 3 %}
          <td class="positive" align="center"><i class="ui large green bicycle icon"></i>
        {% elif station.bikes_available > 0 %}
          <td align="center"><i class="ui large orange bicycle icon"></i>
        {% else %}
          <td class="negative" align="center"><i class="ui large red bicycle icon"></i>
        {% endif %}
          <strong>{{ station.bikes_available }}</strong>
        </td>
        {% if station.docks_available > 3 %}
          <td class="positive" align="center"><i class="ui large green key icon"></i>
        {% elif station.docks_available > 0 %}
          <td align="center"><i class="ui large orange key icon"></i>
        {% else %}
          <td class="negative" align="center"><i class="ui large red key icon"></i>
        {% endif %}
          <strong>{{ station.docks_available }}</strong>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}